<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" style="color:var(--ion-color-warning-tint)" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="margin-top: 1rem;" class="container w-100 h-100 d-flex align-items-center text-center">
    <div class="w-100" style="height: 95%;">
      <div class="mb-10">
        <img class="img-home" src="../../assets/image/logo.png" alt="">
      </div>
      <div class="mb-10" >
        <h3 style="color: #f3b600;" class="font-weight-bold">ĐĂNG KÝ</h3>
      </div>
      <div style="height: 70px;" class="mb-10">
        <img style="width: 70px;height: 70px;border-radius: 50px;margin-right: auto;margin-left: auto;display: block;border: 1px solid" (click)="uploadImage()" alt="" [src]="image ? 'data:image/jpeg;base64,'+image?.base64String : '../../../../assets/image/user.png'"  />
      </div>
      <div class="row" [formGroup]="formGroup">
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="firstName" formControlName="firstName" class="input-mb " type="text" placeholder="Nhập Họ">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="lastName" formControlName="lastName" class="input-mb " type="text" placeholder="Nhập tên">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <ion-select name="gender" formControlName="gender">
              <span style="color: rgb(117, 117, 117) !important;letter-spacing: 1px;" slot="label">Giới tính</span>
              <ion-select-option [value]="0">Nam</ion-select-option>
              <ion-select-option [value]="1">Nữ</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="phone" formControlName="phone" class="input-mb " type="text" placeholder="Nhập số điện thoại">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="birthDay" formControlName="birthDay" class="input-mb " type="date" [value]="formGroup.value.birthDay" placeholder="Ngày sinh">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="email" formControlName="email" class="input-mb " type="email" placeholder="Nhập Email">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="address" formControlName="address" class="input-mb " type="text" placeholder="Nhập địa chỉ">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="userName" formControlName="userName" class="input-mb " type="text" placeholder="Nhập tài khoản">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-warning-tint)" lines="none">
            <input name="passWord" formControlName="passWord" class="input-mb " [type]="showPass ? 'text' : 'password'" placeholder="Nhập mật khẩu">
            <i (click)="showPassword()" slot="end" [class]="!showPass ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <button (click)="onSignUp()" type="button" class="btn btn-primary btn-md btn-block" style="border-radius: 50px;">Đăng ký</button>
        </div>
        <div class="col-12 mb-10">
          <hr class="mb-10" style="background-color: #eae8e8;width: 50%;">
        </div>
        <div class="col-12 mb-10">
          <ion-text style="font-size: 13px;">
            Bạn đã có tài khoản?
          </ion-text>
          <span (click)="goSignInPage()" style="font-size: 13px;color:var(--ion-color-warning-tint)" class="font-weight-bold">
            <u>Đăng nhập</u>
          </span>
        </div>
      </div>
    </div>
  </div>
    <!-- <div style="max-width: 850px;" class="tranform-center">
      <div class="mb-10" >
        <span style="font-size: 25px;font-weight: bold;color: black;">ĐĂNG KÝ</span>
      </div>
      <div style="height: 70px;" class="mb-10">
        <img style="width: 70px;height: 70px;border-radius: 50px;margin-right: auto;margin-left: auto;display: block;border: 1px solid" (click)="uploadImage()" alt="" [src]="image ? 'data:image/jpeg;base64,'+image?.base64String : '../../../../assets/image/user.png'"  />
      </div>
      <div class="row" [formGroup]="formGroup">
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="firstName" formControlName="firstName" class="input-mb " type="text" placeholder="Nhập Họ">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="lastName" formControlName="lastName" class="input-mb " type="text" placeholder="Nhập tên">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <ion-select name="gender" formControlName="gender">
              <span style="color: rgb(117, 117, 117) !important;letter-spacing: 1px;" slot="label">Giới tính</span>
              <ion-select-option [value]="0">Nam</ion-select-option>
              <ion-select-option [value]="1">Nữ</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="phone" formControlName="phone" class="input-mb " type="text" placeholder="Nhập số điện thoại">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="birthDay" formControlName="birthDay" class="input-mb " type="date" [value]="formGroup.value.birthDay" placeholder="Ngày sinh">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="email" formControlName="email" class="input-mb " type="email" placeholder="Nhập Email">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="address" formControlName="address" class="input-mb " type="text" placeholder="Nhập địa chỉ">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="userName" formControlName="userName" class="input-mb " type="text" placeholder="Nhập tài khoản">
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
            <input name="passWord" formControlName="passWord" class="input-mb " [type]="showPass ? 'text' : 'password'" placeholder="Nhập mật khẩu">
            <i (click)="showPassword()" slot="end" [class]="!showPass ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
          </ion-item>
        </div>
        <div class="col-12 mb-10">
          <ion-button (click)="onSignUp()" class="mb-10" color="success" expand="block" shape="round">Đăng ký</ion-button>
        </div>
        <div class="col-12 mb-10">
          <hr class="mb-10" style="background-color: #eae8e8;width: 50%;">
        </div>
        <div class="col-12 mb-10">
          <ion-text style="font-size: 13px;">
            Bạn đã có tài khoản?
          </ion-text>
          <ion-text (click)="goSignInPage()" style="font-size: 13px;font-weight: bold" color="success">
            Đăng nhập
          </ion-text>
        </div>
      </div>
    </div> -->
</ion-content>