<ion-content>
  <ion-card style="border-radius: 10px;">
    <ion-card-header>

      <div class="row">
          <div class="col-2">
            <img style="width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: 1px 1px 15px -5px black;" height="20px" src="../../../assets/image/logo-user.png" alt="">
          </div>
          <div class="col-10 px-0">
          <span style="font-size: 11px;">Chào buổi chiều!</span>
          <ion-card-title style="font-size: 14px;">Trần minh tân</ion-card-title>
          </div>
      </div>
      
    </ion-card-header>
  
    <ion-card-content>
      <span>Ví cá nhân: </span><span>1.000.000đ</span>
    </ion-card-content>
  </ion-card>
</ion-content>
