<!-- <ion-content>
  
</ion-content> -->
<!-- <ion-card style="border-radius: 10px;">
  <ion-card-header>
    <div class="row">
        <div class="col-2">
          <img style="width: 30px;
          height: 30px;
          border-radius: 50%;
          box-shadow: 1px 1px 15px -5px black;" height="20px" src="../../../assets/image/logo-user.png" alt="">
        </div>
        <div class="col-10 px-0">
        <span style="font-size: 11px;">Chào buổi chiều!</span>
        <ion-card-title style="font-size: 14px;">Trần minh tân</ion-card-title>
        </div>
    </div> 
  </ion-card-header>
  <ion-card-content>
    <span>Ví cá nhân: </span><span>1.000.000đ</span>
  </ion-card-content>
</ion-card> -->
<!-- <ion-header></ion-header>
<ion-content>
  <ion-card style="border-radius: 10px;">
  <ion-card-header>
    <div class="row">
        <div class="col-2">
          <img style="width: 30px;
          height: 30px;
          border-radius: 50%;
          box-shadow: 1px 1px 15px -5px black;" height="20px" src="../../../assets/image/logo-user.png" alt="">
        </div>
        <div class="col-10 px-0">
        <span style="font-size: 11px;">Chào buổi chiều!</span>
        <ion-card-title style="font-size: 14px;">Trần minh tân</ion-card-title>
        </div>
    </div> 
  </ion-card-header>
  <ion-card-content>
    <span>Ví cá nhân: </span><span>1.000.000đ</span>
  </ion-card-content>
</ion-card>
</ion-content> -->
  <!-- <ion-header [translucent]="true">
    <ion-card style="border-radius: 10px;">
      <ion-card-header>
        <div class="row">
            <div class="col-2">
              <img style="width: 30px;
              height: 30px;
              border-radius: 50%;
              box-shadow: 1px 1px 15px -5px black;" height="20px" src="../../../assets/image/logo-user.png" alt="">
            </div>
            <div class="col-10 px-0">
            <span style="font-size: 11px;">Chào buổi chiều!</span>
            <ion-card-title style="font-size: 14px;">Trần minh tân</ion-card-title>
            </div>
        </div> 
      </ion-card-header>
      <ion-card-content>
        <span>Ví cá nhân: </span><span>1.000.000đ</span>
      </ion-card-content>
    </ion-card>
  </ion-header> -->
  <ion-header class="ion-no-border">
    <ion-card style="border-radius: 10px;">
      <ion-card-header>
        <div class="d-flex align-items-center">
          <img  style="width: 30px;
              height: 30px;
              border-radius: 50%;
              box-shadow: 1px 1px 15px -5px black;margin-right: 1rem;" height="20px" src="../../../assets/image/logo-user.png" alt="">
          <div>
            <span style="font-size: 0.6rem">Chào buổi chiều!</span>
            <ion-card-title style="font-size: 0.8rem;">Trần minh tân</ion-card-title>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-2">
              <img style="width: 30px;
              height: 30px;
              border-radius: 50%;
              box-shadow: 1px 1px 15px -5px black;" height="20px" src="../../../assets/image/logo-user.png" alt="">
            </div>
            <div class="col-10 px-0">
            <span style="font-size: 11px;">Chào buổi chiều!</span>
            <ion-card-title style="font-size: 14px;">Trần minh tân</ion-card-title>
            </div>
        </div>  -->
      </ion-card-header>
      <ion-card-content>
        <span style="font-size: 0.8rem;">Ví cá nhân: </span><span style="font-size: 0.8rem;color:#ffb400" class="font-weight-bold">1.000.000đ</span>
      </ion-card-content>
    </ion-card>
  </ion-header>
  <ion-content>
    
  </ion-content>

