

<!-- <ion-content [fullscreen]="true" [forceOverscroll]="true"></ion-content> -->

<ion-tabs #myTab>
  <ion-tab-bar style="border: none;" slot="bottom">
    <ion-tab-button [selected]="true" tab="main-home">
      <!-- <ion-icon name="play-circle"></ion-icon> -->
      <i style="font-size: 15px;" class="bi bi-house"></i>
      <span style="font-size: 8px;">Trang chủ</span>
    </ion-tab-button>
    <ion-tab-button tab="">
      <i style="font-size: 15px;" class="bi bi-truck"></i>
      <span style="font-size: 8px;">Kiện hàng</span>
    </ion-tab-button>
    <ion-tab-button tab="">
      <i style="font-size: 15px;" class="bi bi-bell"></i>
      <span style="font-size: 8px;">Thông báo</span>
    </ion-tab-button>
    <ion-tab-button tab="">
      <i style="font-size: 15px;" class="bi bi-gear"></i>
      <span style="font-size: 8px;">Cài đặt</span>
    </ion-tab-button>
    <!-- <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>


