/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.bg-partial{
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #d0bb80 100%);
    height: 100vh;
    overflow: auto;
}

.overflow-hidden{
    --overflow: hidden;
    overflow: hidden;
}

.card-body{
    width: calc(100vh - 100px);
    transform: translate(-50%, -50%);
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    height: fit-content;
    width: 90%;
    border-radius: 20px;
}

.tranform-center{
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
}

.p-5{
    padding: 5px;
}

.text-align-center{
    text-align: center
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.rounded-input-20{
    border-radius: 20px;
    .input-wrapper{
        border-radius: 20px;
    }
}

.border-gray-500{
    border: 1px solid gray;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.d-inline-block{
    display: inline-block;
}

.bg-medium{
    background-color: var(--ion-color-medium);
}

.color-success{
    background-color: var(--ion-color-success);
}

.bg-medium-tint{
    background-color: var(--ion-color-medium-tint);
}
.bg-home{
    background-image: url(../../assets/image/truckdelivery.gif);
    width: 100%;
    height: 60%;
    top: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fw-bold{
    font-weight: bold;
}