/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.bg-partial{
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #d0bb80 100%);
    height: 100vh;
    overflow: auto;
}

.overflow-hidden{
    --overflow: hidden;
    overflow: hidden;
}

.card-body{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    height: fit-content;
    border-radius: 20px;
}

.tranform-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.p-5{
    padding: 5px;
}

.text-align-center{
    text-align: center
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.rounded-input-20{
    border-radius: 20px;
    .input-wrapper{
        border-radius: 20px;
    }
}

.border-gray-500{
    border: 1px solid gray;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.d-inline-block{
    display: inline-block;
}

.bg-medium{
    background-color: var(--ion-color-medium);
}

.color-success{
    background-color: var(--ion-color-success);
}

.bg-medium-tint{
    background-color: var(--ion-color-medium-tint);
}

.fw-bold{
    font-weight: bold;
}

button.alert-button.alert-button-ok {
    background-color: var(--ion-color-danger);
    color: var(--ion-color-success-contrast);
}

.input-mb{
    font: 15px/24px 'Muli', sans-serif; 
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    border: 1px solid #ccc; 
    transition: 0.4s;
    outline: none;
    border-radius: 50px;
    border: none;
    text-overflow: ellipsis;
}

.img-home{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

select:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.input-group-hide-border{
    background-color: white;
}

.input-group-bg{
    caret-color: #ffb400;
}

#ipPassWord:focus{
    border-right-color: white !important;
}

// .input-group-prepend{
//     border: 1px solid rgba(0,0,0,0);
// }
// .input-group-append{
//     border: 1px solid rgba(0,0,0,0);
//     margin-left: -2px !important;
// }
.form-control::-webkit-input-placeholder {
    font-size: 11px;
}

.tab-selected{
    color: #ffb400 !important;
}

// Bootstrap and its default variables




