<ion-content [fullscreen]="true" scroll-y="false">
  <div style="width: 70%;max-width: 850px;" class="tranform-center">
    <div class="mb-10">
      <img class="img-home" src="../../assets/image/delivery.png" alt="">
    </div>
    <div class="mb-10" >
      <span style="font-size: 20px;font-weight: bold;color: black;">ĐĂNG NHẬP</span>
    </div>
    <div class="row" [formGroup]="formGroup">
      <div class="col-12 mb-10">
        <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
          <input name="username" formControlName="username" class="input-mb " type="text" placeholder="Tên tài khoản">
        </ion-item>
      </div>
      <div class="col-12 mb-10">
        <ion-item style="--border-width: 1px;--border-radius: 50px;--border-color:var(--ion-color-success)" lines="none">
          <input name="passWord" formControlName="passWord" class="input-mb " [type]="showPass ? 'text' : 'password'" placeholder="Mật khẩu">
          <i (click)="showPassword()" slot="end" [class]="showPass ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </ion-item>
      </div>
      <div class="col-12 mb-10">
        <ion-button (click)="onSignIn()" class="mb-10" color="success" expand="block" shape="round">Đăng nhập</ion-button>
      </div>
      <div class="col-12 mb-10">
        <hr class="mb-10" style="background-color: #eae8e8;width: 50%;">
      </div>
      <div class="col-12 mb-10">
        <ion-text style="font-size: 13px;" color="success">
          Quên mật khẩu
        </ion-text>
      </div>
      <div class="col-12 mb-10">
        <ion-text style="font-size: 13px;">
          Bạn không có tài khoản?
        </ion-text>
        <ion-text (click)="goSignUpPage()" style="font-size: 13px;font-weight: bold" color="success">
          Đăng ký
        </ion-text>
      </div>
    </div>
  </div>
  
  <!-- <div class="tranform-center" style="padding-left: 10px;padding-right: 10px;">
    <ion-button (click)="goSignInPage()" color="success" class="mb-20" expand="block" shape="round">Đăng nhập</ion-button>
    <ion-button (click)="goSignUpPage()" color="light" class="mb-20" expand="block" shape="round">Đăng ký</ion-button>
  </div> -->
</ion-content>